<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Document</title>
</head>
<body>
  <ul>
    <% for (const todo of todos) { %>
      <li><%= todo.name %></li>
    <% } %>
  </ul>
</body>
</html>
