<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title><%= name %>さんのプロフィール</title>
  </head>

  <body>
    <p>名前: <%= name %></p>
    <p>パスワード: <%= password %></p>
  </body>
</html>
